section {
    border-top: 1px solid black
}

html{ 
    background: rgb(38, 125, 240);
}

.links {
    float: right;
    
}
a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
a::before,
a::after, {
    content:'';
    position: absolute;
    width: 100%
    left: 0;
}
a::before {
    background-color: orangered;
    height: 2px;
    bottom: 0;
    transform-origin: 100& 50%;
    transform: scaleX(0);
    transition: transform .3s;  
}
a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s;
    color: orangered;

}
a:hover::before{
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

a:hover::after{
    transform: translate3d(0, 0, 0);
}


header {
    font-size: 30px;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 10px;
    box-shadow: 0 2px 4px -2px 
}

body {
    background: rgb(144, 236, 236);
    max-width: 975px;
    color: rgb(2, 2, 36);
    margin: 0 auto;  
}

main {
    min-height: 500px;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: rgb(2, 2, 36);

}
header, footer {
    background: whitesmoke;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px 10px;
    box-shadow: 0 2px 4px -2px black;
}
h1 {
    color: rgb(248, 104, 20);
}

h2 {
    color:rgb(248, 104, 20);
}

p {
    font-style: italic;
}
.flex-container{
    width: 750px;
    height: auto;
    display: flex;
}

.flex-box{
    width: 200px;
    height: 200px;
    background: gray;
    color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
    text-align: left;
}

.flex-box1{
    width: 1000px;
    height: 400px;
    background: gray;
    color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
    text-align: left;

}